/*
* Inspired by Google's material design with some modifications and sparkle 
*/

.input{
  width:150px;
  height:30px;
  font-size:1em;
  font-family: 'avenir', sans-serif;
}

.input {
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px $dark_blue; 
  transition: all 0.3s ease(0.65, 0.09, 0.08, 1);
  -webkit-transition: all 0.3s ease(0.65, 0.09, 0.08, 1);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: $dark_blue; 
}

.input:focus, .input:valid {
 box-shadow: none;
 outline: none;
 background-position: 0 0;
}

.input::-webkit-input-placeholder {
 font-family: 'avenir', sans-serif;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

.input:focus::-webkit-input-placeholder, 
.input:valid::-webkit-input-placeholder {
 color: $dark_blue;
 font-size: 12px;
 -webkit-transform: translateY(-20px);
 transform: translateY(-20px);
 visibility: visible !important;
}